.MuiTableCell-body {
    color: inherit !important;
}

.userList {
    margin-right: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.MuiDialogTitle-root h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-p-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
    box-shadow: 5px;
    /* background-color: #f8fcffdd; */
    padding: 2%;
    margin: 5% 20%;
    color: #2F2E41;
}

@media only screen and (max-width: 800px) {
    .con-p-1 {
        padding: 2%;
        margin: 0;
    }
}

.con-p-11 {
    border: 5px solid white;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1%;
}

td,
th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding-top: 25px;
}

.con-p-12 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 1%;
    margin-left: 2%;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .con-p-12 {
        width: 100%;
        margin-left: 2% 2%;
    }
}

.con-p-121 {
    font-size: 40px;
    justify-items: center;
    /* width: 100%; */
}